#creacoes{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#creacoes_content{
    width: 90%;
    height: 100%;
    /* background-color: rgb(29, 29, 29); */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-bottom: 10vh;
}
.card_mobile{
    display: none;
}
#create_top{
    height: 15vh;
    width: 84.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#create_top span, button{
    text-transform: uppercase;
}
#create_top span{
    font-size: 1.7rem;
}
#create_top button{
    width: 70px;
    height: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(63, 63, 63);
    background: none;
    cursor: pointer;
}

#projects{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5vh;
}
.cards{
    position: relative;
    margin: 10px;
    cursor: pointer;
    
}
.cards img{
    /* filter: brightness( 70%); */
    transition: all 0.5s;
}
.cards:hover > img{
    opacity: 0.6;
}
.cards:hover > p{
    color: black;
}
.cards p{
    position: absolute;
    z-index: 2;
    bottom: 2%;
    left: 2%;
    text-transform: uppercase;
    color: white;
    font-size: 1.5rem;
    transition: all 0.5s;
}

@media screen and (max-width: 650px){
    .card_mobile{
        display: flex;
    }
    .card_desktop{
        display: none;
    }
    #projects{
    width: 95%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5vh;
}
.cards img{
    /* filter: brightness( 70%); */
    transition: all 0.5s;
    width: 100%;
}

#create_top button{
    width: 90px;
    height: 30px;
    font-size: 1rem;
}
}
@media screen and (max-width: 650px){
    #create_top{
        margin-top: 5vh;
        height: 10vh;
        width: 84.5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #create_top button{
        margin-top: 10px;
    }
}
