footer{
    width: 100%;
    min-height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: aliceblue;
}
footer div{
    margin: 0 50px;
}
#footer_txt span{
   font-size: 1.3rem;
   font-family: 'Alata', sans-serif;
}
#footer_txt ul{
    display: flex;
    align-items: center;
    margin-top: 10px;
    
}
#footer_txt ul li{
    margin-right: 10px;
    cursor: pointer;
    font-family: 'Alata', sans-serif;

}
#footer_icons{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#footer_icons ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#footer_icons ul li{
    margin: 0px 10px;
    font-size: 1.2rem;
    cursor: pointer;
}
#footer_icons ul  li:hover::after{
   width: 0%;
}

@media screen and (max-width: 650px) {
    footer{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    #footer_txt{
        text-align: center;
    }
    #footer_txt span{
        margin-top: 10px;
        font-size: 1.8rem;
     }
    #footer_txt ul{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 15px 0px;
    
    }
    #footer_icons ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 20px 0px;
    }
    #footer_icons ul li{
        margin: 0px 10px;
        font-size: 1.7rem;
    }
    #footer_txt ul li{
        margin-bottom: 7px;
        font-size: 1.3rem;
    }
}